.footer {
    padding: 22px 25px;
    background-color: $footer-background;
    color: white;

    &__title-footer {
        margin-bottom: 10px;
    }

    &__nav-footer {
        @include flex(column);
        align-items: flex-start;
        gap: 7px;
    }

    &__icone-footer {
        width: 11px;
        height: 13px;
    }
}